p {
  color: green;
  text-shadow: -1px 2px 4px rgba(230, 39, 39, 0.69);
}

.box_shadow {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  box-shadow: 5px 4px 14px -5px rgba(240, 33, 33, 0.93);
  -webkit-box-shadow: 5px 4px 14px -5px rgba(240, 33, 33, 0.93);
  -moz-box-shadow: 5px 4px 14px -5px rgba(240, 33, 33, 0.93);
}
