.parent {
  display: flex;
  height: 100vh;
  border: 1px solid red;
  flex-wrap: wrap;
  /* flex-direction: row; //row row-reverse column column-reverse */
  /* flex-flow: row wrap-reverse; */
  /* justify-content: space-evenly; //flex-start flex-end center space-between space-around space-evenly */
  align-content: space-evenly; //flex-start flex-end center space-between space-around space-evenly
}

.child {
  padding: 30px;
  color: #fff;
  background: red;
  margin: 2px 5px;
  height: 100px;
}
